name: Java CI

on:
  push:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: 21
        cache: 'maven'
    - name: Build with Maven
      run: mvn -V -B clean package --file pom.xml
